# Python for Neuroscientists 6: Assignment

In [1]:
import numpy as np
import pandas as pd

## 1. Read in the data frames
Begin by reading in the data frames saved under 'population_wb.csv' and 'gdp.csv' and assigning them to `population` and `gdp`, respectively.

*Hint* Take a look at the section on loading data frames in the original notebooks.

In [6]:
population = pd.read_csv('population_wb.csv')
gdp = pd.read_csv('gdp.csv')
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.730430e+11,9.839370e+11,1.003680e+12,9.242530e+11,8.823550e+11,1.020650e+12,9.910220e+11,9.975340e+11,9.216460e+11,1.082100e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.275700e+11,8.207930e+11,8.649900e+11,7.607340e+11,6.905460e+11,6.837490e+11,7.416900e+11,7.945430e+11,7.844460e+11,8.358080e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249980e+11,1.334020e+11,1.372440e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11,4.199460e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

## 2. Melt the data frames
Both data frames are saved in a wide format. Use the `melt` function (similar to the way we have used it in class) to bring them into a long format, where each row corresponds to a country in one particular year. For this purpose, you need to specify every column that you don't want to turn into an observation as a list for the argument `id_vars`. The name of your variable should be `'year'` and the name of the corresponding value should be `'value'`.

*Hint* Take a look at the `melt` command in the original notebook and consider how you have to change its arguments.

In [5]:
population_tidy = population.melt(
    id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'],
    var_name='year',
    value_name='population'
)

population_tidy

,Country Name,Country Code,Indicator Name,Indicator Code,year,population
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,54208.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1960,130836765.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,1960,96396419.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,1960,5454938.0
...,...,...,...,...,...,...
16487,Kosovo,XKX,"Population, total",SP.POP.TOTL,2021,1806279.0
16488,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,2021,30490639.0
16489,South Africa,ZAF,"Population, total",SP.POP.TOTL,2021,60041996.0
16490,Zambia,ZMB,"Population, total",SP.POP.TOTL,2021,18920657.0
16491,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2021,15092171.0

In [7]:
gdp_tidy = gdp.melt(
    id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'],
    var_name='year',
    value_name='population'
)

gdp_tidy

,Country Name,Country Code,Indicator Name,Indicator Code,year,population
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1960,2.129059e+10
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,5.377778e+08
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1960,1.040414e+10
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
...,...,...,...,...,...,...
16487,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,2021,9.007159e+09
16488,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,2021,2.106169e+10
16489,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,2021,4.199460e+11
16490,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2021,2.120306e+10
16491,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2021,2.621773e+10

## 3. (Advanced.) Concatenate the data frames
The function `pd.concat` takes in a list of data frames and concatenates them. Concatenate `population` and `gdp` and assign the name `df` to be.

In [22]:
df = pd.concat([population_tidy,gdp_tidy], ignore_index=True)
df

,Country Name,Country Code,Indicator Name,Indicator Code,year,population
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,5.420800e+04
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1960,1.308368e+08
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8.996967e+06
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,1960,9.639642e+07
4,Angola,AGO,"Population, total",SP.POP.TOTL,1960,5.454938e+06
...,...,...,...,...,...,...
32979,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,2021,9.007159e+09
32980,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,2021,2.106169e+10
32981,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,2021,4.199460e+11
32982,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2021,2.120306e+10
32983,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2021,2.621773e+10

## 4. (Advanced.) Pivot the data frame
The result `df` is an example of a dataframe that is too long. Here population and GDP should be different variables, yet they are specified as different observations. The method `df.pivot` can help you fix that. Pivot takes a particular column and uses each of its value as a new column. To be able to apply `pivot`, first drop the column `'Indicator Code'`:

In [23]:
df = df.drop(columns ='Indicator Code', axis = 1)
df

,Country Name,Country Code,Indicator Name,year,population
0,Aruba,ABW,"Population, total",1960,5.420800e+04
1,Africa Eastern and Southern,AFE,"Population, total",1960,1.308368e+08
2,Afghanistan,AFG,"Population, total",1960,8.996967e+06
3,Africa Western and Central,AFW,"Population, total",1960,9.639642e+07
4,Angola,AGO,"Population, total",1960,5.454938e+06
...,...,...,...,...,...
32979,Kosovo,XKX,GDP (current US$),2021,9.007159e+09
32980,"Yemen, Rep.",YEM,GDP (current US$),2021,2.106169e+10
32981,South Africa,ZAF,GDP (current US$),2021,4.199460e+11
32982,Zambia,ZMB,GDP (current US$),2021,2.120306e+10
32983,Zimbabwe,ZWE,GDP (current US$),2021,2.621773e+10

Now use pivot to tidy the data frame. The argument `index` should specify all columns you want to keep. `columns`, as a single string should specify the column you want to use to define your new columns. This should by the column specifying the particular indicator. Finally, `values`, as a single string, should specify the column that should fill those new columns.

In [25]:
df_pivot = df.pivot(index=['year','Indicator Name'], columns=['Country Name','Country Code'], values='population')
df_pivot

Country Name                   Aruba Africa Eastern and Southern  \
Country Code                     ABW                         AFE
year Indicator Name
1960 GDP (current US$)           NaN                2.129059e+10
     Population, total  5.420800e+04                1.308368e+08
1961 GDP (current US$)           NaN                2.180847e+10
     Population, total  5.543400e+04                1.341598e+08
1962 GDP (current US$)           NaN                2.370702e+10
...                              ...                         ...
2019 Population, total  1.063100e+05                6.600463e+08
2020 GDP (current US$)  2.496648e+09                9.216460e+11
     Population, total  1.067660e+05                6.772433e+08
2021 GDP (current US$)           NaN                1.082100e+12
     Population, total  1.071950e+05                6.946651e+08

Country Name             Afghanistan Africa Western and Central        Angola  \
Country Code                     AFG                        AFW           AGO
year Indicator Name
1960 GDP (current US$)  5.377778e+08               1.040414e+10           NaN
     Population, total  8.996967e+06               9.639642e+07  5.454938e+06
1961 GDP (current US$)  5.488889e+08               1.112789e+10           NaN
     Population, total  9.169406e+06               9.840722e+07  5.531451e+06
1962 GDP (current US$)  5.466667e+08               1.194319e+10           NaN
...                              ...                        ...           ...
2019 Population, total  3.804176e+07               4.469116e+08  3.182530e+07
2020 GDP (current US$)  2.011614e+10               7.844460e+11  5.361907e+10
     Population, total  3.892834e+07               4.588035e+08  3.286627e+07
2021 GDP (current US$)           NaN               8.358080e+11  7.254699e+10
     Population, total  3.983543e+07               4.708989e+08  3.393361e+07

Country Name                 Albania       Andorra    Arab World  \
Country Code                     ALB           AND           ARB
year Indicator Name
1960 GDP (current US$)           NaN           NaN           NaN
     Population, total  1.608800e+06  1.341000e+04  9.219772e+07
1961 GDP (current US$)           NaN           NaN           NaN
     Population, total  1.659800e+06  1.437800e+04  9.472454e+07
1962 GDP (current US$)           NaN           NaN           NaN
...                              ...           ...           ...
2019 Population, total  2.854191e+06  7.714600e+04  4.278703e+08
2020 GDP (current US$)  1.513187e+10  2.891001e+09  2.496250e+12
     Population, total  2.837849e+06  7.726500e+04  4.360807e+08
2021 GDP (current US$)  1.826004e+10  3.329911e+09  2.850420e+12
     Population, total  2.811666e+06  7.735400e+04  4.445178e+08

Country Name           United Arab Emirates     Argentina  ...  \
Country Code                            ARE           ARG  ...
year Indicator Name                                        ...
1960 GDP (current US$)                  NaN           NaN  ...
     Population, total         9.241700e+04  2.048178e+07  ...
1961 GDP (current US$)                  NaN           NaN  ...
     Population, total         1.008010e+05  2.081727e+07  ...
1962 GDP (current US$)                  NaN  2.445060e+10  ...
...                                     ...           ...  ...
2019 Population, total         9.770526e+06  4.493871e+07  ...
2020 GDP (current US$)         3.588690e+11  3.895910e+11  ...
     Population, total         9.890400e+06  4.537676e+07  ...
2021 GDP (current US$)                  NaN  4.914930e+11  ...
     Population, total         9.991083e+06  4.580875e+07  ...

Country Name           Virgin Islands (U.S.)       Vietnam      Vanuatu  \
Country Code                             VIR           VNM          VUT
year Indicator Name
1960 GDP (current US$)                   NaN           NaN          NaN
     Population, total          3.250000e+04  3.267005e+07      63689.0
1961 GDP (current US$)                   NaN           NaN          NaN
     Population, total          3.430000e+04  3.366611e+07      65700.0
1962 GDP (current US$)                   NaN           NaN          NaN
...                                      ...           ...          ...
2019 Population, total          1.066690e+05  9.646211e+07     299882.0
2020 GDP (current US$)          4.204000e+09  3.432430e+11  896827873.1
     Population, total          1.062900e+05  9.733858e+07     307150.0
2021 GDP (current US$)                   NaN  3.626380e+11  983469256.8
     Population, total          1.058700e+05  9.816883e+07     314464.0

Country Name                   World        Samoa        Kosovo   Yemen, Rep.  \
Country Code                     WLD          WSM           XKX           YEM
year Indicator Name
1960 GDP (current US$)  1.392050e+12          NaN           NaN           NaN
     Population, total  3.032156e+09     108627.0  9.470000e+05  5.315351e+06
1961 GDP (current US$)  1.448390e+12          NaN           NaN           NaN
     Population, total  3.071596e+09     112112.0  9.660000e+05  5.393034e+06
1962 GDP (current US$)  1.550300e+12          NaN           NaN           NaN
...                              ...          ...           ...           ...
2019 Population, total  7.683806e+09     197093.0  1.788878e+06  2.916192e+07
2020 GDP (current US$)  8.490680e+13  807147527.6  7.716925e+09  1.884051e+10
     Population, total  7.763933e+09     198410.0  1.790133e+06  2.982597e+07
2021 GDP (current US$)  9.610010e+13  788389971.6  9.007159e+09  2.106169e+10
     Population, total  7.836631e+09     200144.0  1.806279e+06  3.049064e+07

Country Name            South Africa        Zambia      Zimbabwe
Country Code                     ZAF           ZMB           ZWE
year Indicator Name
1960 GDP (current US$)  8.748597e+09  7.130000e+08  1.052990e+09
     Population, total  1.709984e+07  3.070780e+06  3.776679e+06
1961 GDP (current US$)  9.225996e+09  6.962857e+08  1.096647e+09
     Population, total  1.752453e+07  3.164330e+06  3.905038e+06
1962 GDP (current US$)  9.813996e+09  6.931429e+08  1.117602e+09
...                              ...           ...           ...
2019 Population, total  5.855827e+07  1.786103e+07  1.464547e+07
2020 GDP (current US$)  3.354420e+11  1.811063e+10  1.805117e+10
     Population, total  5.930869e+07  1.838396e+07  1.486293e+07
2021 GDP (current US$)  4.199460e+11  2.120306e+10  2.621773e+10
     Population, total  6.004200e+07  1.892066e+07  1.509217e+07

[124 rows x 266 columns]

The resulting dataframe will have certain columns saved as rownames again. Use the `reset_index` method to correct this.

In [ ]:
????